﻿

ul.breadcrumbtrail {
padding: 10px 16px;
list-style: none;
background-color: white;
}

ul.breadcrumbtrail li {
display: inline;
font-size: 18px;
}

ul.breadcrumbtrail li + li:before {
padding: 8px;
color: black;
content: "/\00a0";
}

ul.breadcrumbtrail li a {
color: #0275d8;
text-decoration: none;
}

ul.breadcrumbtrail li a:hover {
color: #01447e;
text-decoration: underline;
}